@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}

/*v header*/
header{
    width: 100%;
    border-bottom: 1px solid #ddd;
}

header .inner {
    width: 1180px;
    height: 50px;
    margin: 25px 25px auto;
    position: relative; /* 자식 absolute 요소의 기준점 설정*/
}
header .inner h1 {
    position: absolute;
    left:0px;
    bottom: 15px;
}
header .inner h1 a {
    font: bold 24px/1 "arial"; /* font 축약형*/
    color: #444;
}
header .inner .util {
    position: absolute;
    top: 20px;
    right: 30px;
}
header .inner .util li {
    float: left;
}
header .inner .util li a {
    display: block;
    font: 12px/1 "arial";
    color: #999;
    padding: 0px 10px;
}
header .inner #gnb {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
header .inner #gnb li {
    float: left;
}
header .inner #gnb li a {
    display: block; /* 인라인 요소는 block을 설정하여 크기 조절 가능 */
    font: bold 15px/1 "arial";
    color: #555;
    padding: 20px 40px;
    transition: all 0.5s;
}
header .inner #gnb li a:hover{
    background: #555;
    color: #fff;
}
/*visual*/
figure {
    width: 100%;
    height: calc(100vh - 120px); /* 전체 브라우저 높이에서 120px만큼 빼줌 */
    background: #000;
    position: relative;
    overflow: hidden;
    padding-top: 250px;
}
figure video {
    object-fit: cover; /* 영상물 figure 영역 안에 꽉 차도록 설정*/
    width: 100%;
    height: 100%;
    opacity:.3;
    position: absolute;
    top: 0px;
    left: 0px;
}
figure .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
}
figure .inner h1 {
    font: normal 120px/1 "arial";
    color: #fff;
    margin-bottom: 20px;
}
figure .inner p {
    font: 16px/1.4 "arial";
    color: #888;
    margin-bottom: 60px;
}
figure .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 11px/30px "arial";
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.5s;
}
figure .inner a:hover {
    background: #fff;
    color: #555;
}
/* news */
section {
    width: 100%;
    padding: 200px 0px;
}
section .inner {
    width: 1180px;
    margin: 0px auto;
}
section .inner h1 {
    font: bold 24px/1 "arial";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}
section .inner .wrap {
    width: 100%;
}
section .inner .wrap:after { /* 자식 요소인 article의 float 해제*/
    content: "";
    display: block;
    clear: both;
}
section .inner .wrap article{
    width: 280px;
    float: left;
    margin-right: 20px;
}
section .inner .wrap article:last-child { /* 맨 오른쪽 마지막 요소의 여백만 제거 */
    margin-right: 0px;
}
section .inner .wrap article h2 {
    margin-bottom: 10px;
}
section .inner .wrap article h2 a {
    font: bold 16px/1 "arial";
    color: #555;
}
section .inner .wrap article p {
    font: 14px/1.4 "arial";
    color: #777;
}
section .inner .wrap article .pic {
    width: 100%;
    height: 120px;
    background: #333;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
section .inner .wrap article .pic img {
    background-size: cover;
    width: 100%;
    height: 100%;
}
section .inner .wrap article details:hover{
    cursor:pointer;
}
/* who */
#who {
    width:100%;
    height:700px;
}
#who h1 {
    text-align:center;
}
#who .intro{
    background-color:#444;
    background-size: 250px 250px;
    width:auto;
    height:500px;
}
#who .intro .who_img img{
    width: 400px;
    height: 500px;
    justify-content:left;
    position:relative;
}
#who .intro .who_right {
    float:right;
    font-size:20px;
    justify-content:right;
    position:relative;
    margin-top: 50px;
    color:#bbb;
    margin-right: 9%;
}
#who .who_right_down {
    list-style:none;
    padding:0;
    font-size:20px;
    margin-top: 50px;
    float:right;
    margin-right:50%;
}
#who .who_right_down ul li {
    margin: 20px 10px 0px 10px;
    border: 0;
    position:relative;
}
/* skill*/
#skill {
    margin-top:100px;
    width:100%;
    height:500px;
}
/* project*/
#project .inner .clone{
    float:left;
    margin-right: 10%;
}
.clone{
    width: 400px;
    height: 300px;
    perspective: 1100px;
    margin: auto;
}
.clone .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-decoration:none;
}
.front img, .back img {
    width: 100%;
    height: 100%;
}
.clone .card .front:hover {
    background: black;
    opacity:.5;
    animation-duration: 10s;
}
.back {
    transform: rotateY(180deg);
    animation-duration:10ms;
}
.clone .back a:visited {
    text-decoration:black;
}
.clone:hover .card {
    transform: rotateY(180deg);
}
/* footer */
footer {
    margin-top:300px;
    width: 100%;
    background: #333;
    padding: 100px 0px;
    border-top: 1px solid #888;
}
footer .inner {
    width: 1180px;
    margin: 0px auto;
}
footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}
footer .inner .upper::after{ /* 상단 영역 float 해제 */
    content: "";
    display: block;
    clear: both;
}
footer .inner .upper h1 {
    float: left;
    font: bold 24px/1 "arial";
    color: #666;
}
footer .inner .upper ul {
    float: right;
}
footer .inner .upper ul li {
    float: left;
    margin-left: 20px;
}
footer .inner .upper ul li a {
    font: bold 14px/1 "arial";
    color: #666;
}
footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}
footer .inner .lower address {
    width: 100%;
    font: 12px/1.3 "arial";
    color: #777;
    margin-bottom: 20px;
}
footer .inner .lower p {
    width: 100%;
    font: 12px/1 "arial";
    color: #777;
}
@media (max-width: 1200px){
    figure .inner h1{
        font: normal 60px/1 "arial";
    }
    #who .intro .who_img img{
        display:none;
    }
    #who_right_down li{
        text-align:center;
        margin-right:30%;
    }
}
@media (max-width: 760px){
    figure .inner h1{
        font: normal 40px/1 "arial";
    }
    #who .who_right p{
        text-align:center;
        font-size:13px;
    }
    #who .who_right_down{
        margin-right:25%;
    }
    #who .who_right_down li{
        font-size:13px;
        text-align:center;
    }
}