@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}

/*v header*/
header{
    width: 100%;
    border-bottom: 1px solid #ddd;
}

header .inner {
    width: auto;
    height: 50px;
    margin: 25px 25px auto;
    position: relative; /* 자식 absolute 요소의 기준점 설정*/
}
header .inner h1 {
    position: absolute;
    left:0px;
    bottom: 15px;
}
header .inner h1 a {
    font: bold 24px/1 "arial"; /* font 축약형*/
    color: #444;
}
header .inner .util {
    position: absolute;
    top: 20px;
    right: 30px;
}
header .inner .util li {
    float: left;
}
header .inner .util li a {
    display: block;
    font: 12px/1 "arial";
    color: #999;
    padding: 0px 10px;
}
header .inner #gnb {
    float:right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
header .inner #gnb li {
    float: left;
}
header .inner #gnb li a {
    display: block; /* 인라인 요소는 block을 설정하여 크기 조절 가능 */
    font: bold 15px/1 "arial";
    color: #555;
    padding: 20px 40px;
    transition: all 0.5s;
    float:right;
}
header .inner #gnb li a:hover{
    background: #555;
    color: #fff;
}
/*visual*/
figure {
    width: 100%;
    height: calc(100vh - 120px); /* 전체 브라우저 높이에서 120px만큼 빼줌 */
    background: #000;
    position: relative;
    overflow: hidden;
    padding-top: 250px;
}
figure video {
    object-fit: cover; /* 영상물 figure 영역 안에 꽉 차도록 설정*/
    width: 100%;
    height: 100%;
    opacity:.3;
    position: absolute;
    top: 0px;
    left: 0px;
}
figure .inner {
    width: 100%;
    margin: 0px auto;
    position: relative;
}
figure .inner h1 {
    font: normal 120px/1 "arial";
    color: #fff;
    margin-bottom: 20px;
}
figure .inner p {
    font: 16px/1.4 "arial";
    color: #888;
    margin-bottom: 60px;
}
figure .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 11px/30px "arial";
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.5s;
}
figure .inner a:hover {
    background: #fff;
    color: #555;
}
/* news */
section {
    width: 100%;
    height: 200px;
    padding: 200px 10%;
}
section .inner {
    width: 100%;
    margin: 0px auto;
}
section .inner h1 {
    font: bold 24px/1 "arial";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}
section .inner .wrap {
    width: 100%;
}
section .inner .wrap:after { /* 자식 요소인 article의 float 해제*/
    content: "";
    display: block;
    clear: both;
}
section .inner .wrap .slide{
    width: 280px;
    float: left;
    margin-right: 20px;
}
section .inner .wrap article:last-child { /* 맨 오른쪽 마지막 요소의 여백만 제거 */
    margin-right: 0px;
}

section .inner .wrap article li {
    font: 14px/1.4 "arial";
    color: #777;
}
section .inner .wrap article .pic {
    width: 100%;
    height: 120px;
    background: #333;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
section .inner .wrap article .pic img {
    background-size: cover;
    width: 100%;
    height: 100%;
}
section .inner .wrap article details:hover{
    cursor:pointer;
}
/* who */
#who .intro{
    width:100%;
    height:700px;
}
#who h1 {
    text-align:center;
}
#who .intro{
    background-color:#444;
    background-size: 250px 250px;
    width:auto;
    height:500px;
}
#who .intro .who_img img{
    width: 400px;
    height: 500px;
    justify-content:left;
    position:relative;
}
#who .intro .who_right {
    float:right;
    font-size:20px;
    justify-content:right;
    position:relative;
    margin-top: 50px;
    color:#bbb;
    margin-right: 4%;
}
#who .who_right_down {
    list-style:none;
    padding:0;
    font-size:20px;
    margin-top: 50px;
    float:right;
    margin-right:50%;
}
#who .who_right_down ul li {
    margin: 20px 10px 0px 10px;
    border: 0;
    position:relative;
}
/* skill*/
#skill {
    margin-top:300px;
    width:100%;
    height:600px;
}
#skill h1 {
    text-align:center;
}
.slide {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    overflow: hidden;
  
    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;
  
    /* size */
    width: 100%;
  
    /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
    user-select: none;
  }
  .slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;
  
    /* size */
    width: 100%;
    height: 300px;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;
  
    /* transition */
    transition: left 0.15s;
  }
  .slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 하기위해 계산 */
    top: calc(50% - 16px);
  
    /* size */
    width: 32px;
    height: 32px;
  
    /* style */
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
  }
  
  .slide_prev_button {
    left: 10px;
  }
  .slide_next_button {
    right: 10px;
  }
  
  /* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
  .slide_item.item1 img{
    height:100%;
  }
  .slide_item.item2 img{
    height:100%;
  }
  .slide_item.item3 img{
    height:100%;
    width:90%;
  }
  .slide_item.item4 img{
    height:70%;
    width:70%;
  }
  .slide_item.item5 img{
    height:80%;
    width:80%;
  }
  
  /* 페이지네이션 스타일 */
  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;
  
    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
  }
  .slide_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
  }
  .slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
  }
  
  .slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
  }

  .chart{
    position: relative;
    height: 50vh;
    width: 60vw;
  }
/* project*/
#project {
    margin-top:400px;
    margin-bottom: 500px;
    width:100%;
    height:500px;
}
#project h1 {
    text-align:center;
}

#project .inner .clone{
    float:left;
    margin-right: 5%;
}
.clone{
    width: 400px;
    height: 300px;
    perspective: 1100px;
    margin: 0% 5% 50px 0%;
    align-content: center;
}
.clone .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-decoration:none;
}
.front img, .back img {
    width: 100%;
    height: 100%;
}
.clone .card .front:hover {
    background: black;
    opacity:.5;
    animation-duration: 10s;
}
.back {
    transform: rotateY(180deg);
    animation-duration:10ms;
}
.clone .back a:visited {
    text-decoration:black;
}
.clone:hover .card {
    transform: rotateY(180deg);
}
/* footer */
footer {
    margin-top:300px;
    width: 100%;
    height:300px;
    background: #333;
    padding: 100px 0px;
    border-top: 1px solid #888;
}
footer .inner {
    width: 100%;
    margin: 0px auto;
    text-align:center;
}
footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}
footer .inner .upper::after{ /* 상단 영역 float 해제 */
    content: "";
    display: block;
    clear: both;
}
footer .inner .upper h1 {
    font: bold 24px/1 "arial";
    color: #666;
}
footer .inner .upper ul {
    text-align:center;
}
footer .inner .upper ul li {
    float:none;
    margin-left: 20px;
}
footer .inner .upper ul li a {
    font: bold 14px/1 "arial";
    color: #666;
}
footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}
footer .inner .lower address {
    width: 100%;
    font: 12px/1.3 "arial";
    color: #777;
    margin-bottom: 20px;
}
footer .inner .lower p {
    width: 100%;
    font: 12px/1 "arial";
    color: #777;
}
@media (max-width: 1420px){
    figure .inner h1 {
        font: bold 75px/1 "arial";
    }
    #who .intro .who_img img{
    width: 230px;
    height: 330px;
    justify-content:left;
    position:relative;
    }
    #who .intro .who_right {
        font-size:17px;
        justify-content:right;
    }
}
@media (max-width: 1200px){
    header .inner h1 a{
        font: bold 18px/1 "arial";
    }
    header .inner #gnb{
        font: bold 11px/1 "arial";
        color: #555;
    }
    figure .inner h1 a{
        font: normal 60px/1 "arial";
    }
    #who .intro .who_img img{
        display:none;
    }
    #who .intro .who_right {
        font-size:15px;
        justify-content:right;
    }
    #who_right_down li{
        text-align:center;
        margin-right:30%;
    }
    .slide{
        width:80%;
    }
    .slide_item.item1 img{
        height:70%;
    }
    footer .inner .upper ul {
        margin-top:5px;
    }
}
@media (max-width: 950px){
    section {
    width: 100%;
    padding: 200px 10%;
    }
    .slide_item.item1 img{
        height:60%;
    }
    #project .inner .clone{
        float:none;
    }
    footer .inner h1 {
        text-align:center;
    }
}
@media (max-width: 760px){
    header .inner h1 a{
        font: bold 12px/1 "arial";
    }
    header .inner #gnb{
        padding:10px 20px;
    }
    header .inner #gnb li a {
        display: block; /* 인라인 요소는 block을 설정하여 크기 조절 가능 */
        font: bold 10px/1 "arial";
        color: #555;
        padding: 5px 10px;
    }
    figure .inner h1{
        font: normal 40px/1 "arial";
    }
    #who .who_right p{
        text-align:center;
        font-size:13px;
    }
    #who .who_right_down{
        margin-right:25%;
    }
    #who .who_right_down li{
        font-size:13px;
        text-align:center;
    }
    .slide_item.item1 img{
        height:50%;
    }
    .slide_item.item2 img {
        height:50%;
    }
    .slide_item.item3 img {
        height:50%;
    }
}
@media (max-width: 384px){
    header{
        text-align:center;
    }
    header .inner h1 a{
        font: bold 10px/1 "arial";
        padding: 5px 10px;
    }
    header .inner #gnb{
        padding: 5px 10px;
    }
    header .inner #gnb li a{
        font: bold 10px/1 "arial";
        padding: 2px 2px;
        float:right;
    }
    figure .inner h1 {
        font: bold 20px/1 "arial";
        text-align:center;
    }
    figure .inner a{
        width: 100px;
        text-align: center;
    }
    /*who*/
    #who .intro {
        padding: 0 0 0 0%;
    }
    #who .intro .who_right{
        margin: 10% 10% 10% 10%;
    }
    #who .who_right_down{
        padding: 0 0 0 15%;
    }
    /*skill*/
    #skill .inner {
        padding: 0 0 0 10% ;
    }
    .slide_item.item1 img{
        height:20%;
    }
    .slide_item.item2 img{
        height:30%;
    }
    .slide_item.item3 img{
        height: 20%;
        width: 50%;
    }
    .slide_item.item4 img{
        height:20%;
        width:30%;
    }
    .slide_item.item5 img{
        height:20%;
    }
    /*project*/
    .clone{
        width: 100%;
        height: 200px;
        perspective: 1100px;
        margin: 0% 0% 10% 0%;
    }
    /*footer*/
    footer{
        margin-top: 0px;
    }
}